<div>
    <h1>Your favourite show is about to start!</h1>
    <span>Channel Name: <%= @channel_name %></span><br>
    <span>Show Name: <%= @show_name %></span><br>
    <span>Show Time: <%= @show_time %></span>
</div>